@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&family=Roboto:wght@300&display=swap');

* {
	margin: 0;
	padding: 0;
	border: none;
}

body {
	font-family: Nunito, sans-serif;
	font-weight: 300;
	color: rgb(69, 69, 69);
}

/* headings and logo */

h1, h2 {
	font-family: Roboto, sans-serif;
	letter-spacing: 4px;
	color: rgb(0, 0, 0);
}

#logo {
	float: left;
	font-size: 265%;
	margin-left: 30px;
}

/* navigation links */

#menu {
	font-size: 110%;
	letter-spacing: 4px;
}

#menu, #logo {
	line-height: 75px;
}

#menu li {
	float: right;
	list-style-type: none;
	margin-right: 30px;
}

#menu a {
	text-decoration: none;
	color: inherit;
}

#menu a:hover {
	border-bottom: 1px solid rgb(69, 69, 69);
}

.active {
	border-bottom: 1px solid rgb(69, 69, 69);
}

/* hero image and cover text */

#hero-outer {
	height: 600px;
	width: 100%;
	overflow: hidden;
}

#cover-text, #cover-text h2 {
	color: rgb(255,255,255);
}

#hero-image {
	height: 600px;
	width: 100%;
	background: url('../images/hero-image.jpg');
}

#cover-text {
	font-size: 130%;
	font-family: Nunito, sans-serif;
	text-transform: none;
	letter-spacing: 4px;

	width: 300px;
	height: 180px;

	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;

	background-color: rgba(110, 150, 215, 0.7);

	bottom: 300px;
	left: 50px;

	position: absolute;
}

/* club info */

#breathe {
	text-align: left;
	margin: 30px;
	}

#club-info {
	height: 600px;
}

hr {
	border-top: 1px solid black;
	width: 100%;
	margin: 5px 0;
}

#left-about {
	height: 530px;
	padding-top: 30px;
	padding-left: 50px;
	padding-right: 40px;
	width: 30%;
	float: left;
	background-color: rgb(200, 206, 194);
}

/* wim hof info */

div {
	float: right;
  }

#right-about {
text-align: right;
margin: 50px 0;
float: right;
}
